/* Réinitialisation des styles */
body{
    font-family: 'Lato', sans-serif;
    font-size: 1em; 
    position: relative; 
    background-color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

body {
    margin: 0px;
}
/* Style de la barre de navigation */
.navbar-wrapper {
    text-align: center; /* Centrer horizontalement */
    margin-left: 20px; /* Ajouter une marge à gauche */
}

.navbar {
    display: inline-block; /* Utiliser un affichage en ligne */
    color: white; 
}

.navbar-header {
    float: none; /* Annuler la flottabilité */
}

.navbar-toggle {
    display: inline-block; /* Utiliser un affichage en ligne */
    float: none; /* Annuler la flottabilité */
    margin-right: 15px; /* Espacement à droite du bouton */
    padding: 9px 10px; /* Espacement à l'intérieur du bouton */
    background-color: transparent; /* Fond transparent */
    border: 1px solid transparent; /* Bordure transparente */
    border-radius: 4px; /* Bordure arrondie */
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: none; /* Supprimer la mise en surbrillance et le contour */
}

/* Style des liens de la barre de navigation */
.navbar-nav {
    display: inline-block;
    float: none;
    margin: 0;
    padding: 19px;
}

.navbar-nav li {
    display: inline-block;
    margin-right: 16px; /* Espacement entre les éléments */
    width: auto; /* Réinitialiser la largeur pour s'adapter au contenu */
}

.navbar-nav li:last-child {
    margin-right: 0; /* Pas de marge à droite pour le dernier élément */
}

.navbar-nav li a {
    color: #f0efef;
    text-decoration: none;
    font-weight: bold;
    font-size: 28px; /* Taille de la police augmentée */
    transition: color 0.3s;
}

.navbar-nav li a:hover {
    color: #45a049;
}

@media screen and (max-width: 992px) {
    .navbar-nav li {
        width: auto; /* Réinitialiser la largeur des éléments */
        display: block; /* Afficher chaque élément sur une ligne différente */
        margin-right: 0; /* Aucune marge à droite */
    }

    .navbar-nav li:last-child {
        margin-bottom: 20px; /* Ajouter un espacement entre les éléments sur différentes lignes */
    }
}



/* Media Query pour le style responsive */
@media screen and (max-width: 768px) {
    .navbar-wrapper {
        margin-left: 0; /* Annuler la marge à gauche */
    }

    .navbar-nav {
        display: block; /* Utiliser un affichage en bloc */
        margin-top: 0; /* Annuler l'espacement en haut */
    }

    .navbar-nav li {
        display: block; /* Utiliser un affichage en bloc */
        margin: 10px 0; /* Espacement entre les liens */
    }

    .navbar-toggle {
        margin-right: 0; /* Annuler l'espacement à droite du bouton */
    }
}

/* Styles pour la navigation responsive dans le menu hamburger */
@media screen and (max-width: 768px) {
    .navbar-collapse {
        display: none; /* Cacher la navigation principale par défaut */
    }

    .navbar-toggle {
        display: block; /* Afficher le bouton de bascule */
        background-color: red; /* Fond transparent */
        border: none; /* Supprimer la bordure */
        margin: 0; /* Aucun marge */
        padding: 15px; /* Espacement autour du bouton */
        cursor: pointer; /* Curseur en pointeur */
        right: 0; /* Aligner à droite */

    }

    .navbar-toggle .icon-bar {
        background-color: #333; /* Couleur des barres du bouton */
        display: block; /* Afficher les barres en bloc */
        width: 25px; /* Largeur des barres */
        height: 3px; /* Hauteur des barres */
        margin: 5px auto; /* Marge autour des barres */
        border-radius: 1px; /* Bordure arrondie */
    }

    .navbar-toggle:focus,
    .navbar-toggle:active {
        outline: none; /* Supprimer la mise en surbrillance et le contour */
    }

    .navbar-collapse.in {
        display: block; /* Afficher la navigation lorsqu'elle est ouverte */
        position: absolute; /* Position absolue */
        top: 50px; /* Positionner juste en dessous du bouton de bascule */
        left: 0; /* Aligner à gauche */
        width: 100%; /* Largeur maximale */
        background-color: #f8f8f8; /* Couleur de fond */
        padding: 10px; /* Espacement intérieur */
        border-top: 1px solid #ddd; /* Bordure supérieure */
    }

    .navbar-collapse li {
        display: block; /* Afficher les éléments de la navigation en bloc */
        margin-bottom: 10px; /* Marge entre les éléments */
    }

    .navbar-collapse li:last-child {
        margin-bottom: 0; /* Aucune marge pour le dernier élément */
    }

    .navbar-collapse a {
        display: block; /* Afficher les liens en bloc */
        padding: 10px 15px; /* Espacement intérieur */
        color: #333; /* Couleur du texte */
        text-decoration: none; /* Supprimer la décoration de texte */
        transition: background-color 0.3s; /* Animation de transition */
    }

    .navbar-collapse a:hover {
        background-color: #ddd; /* Couleur de fond au survol */
    }
}

/* Style pour le menu déroulant "Account" */
.dropdown {
    position: relative;
}

.dropdown-label {
    cursor: pointer;
}



.dropdown-menu {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    border-top: none;
    border-radius: 0 0 5px 5px;
    z-index: 1000;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.dropdown-menu ul li {
    padding: 10px;

}





/* Styles pour le menu hamburger */
.fa-user {
    font-size: 20px; /* Taille de l'icône */
    padding: 15px; /* Espace autour de l'icône */
}


/* Styles pour la navigation responsive dans le menu hamburger */
@media screen and (max-width: 768px) {
    .navbar-nav.navbar-right {
        float: none;
        margin: 0;
    }

    .navbar-nav.navbar-right > li {
        float: none;
        display: inline-block;
    }

    .dropdown-menu {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        width: auto;
        box-shadow: none;
    }

    .dropdown-menu li {
        display: block;
        text-align: center;
    }

    .dropdown-menu li a {
        display: block;
        padding: 10px 15px;
        color: #333;
        text-decoration: none;
    }
}

/*----------------------------------------------------------------------------------*/ 

/* Contenu de la section accueil */
#accueil {
    background-image: url('image/minecraft-art-1920-x-890-wallpaper-vmir0u72vqf205eo.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px;
    
}

#accueil h1 {
    font-size: 80px;
    font-weight: bold;
    color: #aaaaaa;
    text-shadow: 2pxs 2px 4px rgba(0, 0, 0, 1);
    font-family: 'MedievalSharp';
}

#accueil p {
    font-size: 40px;
    margin-top: 30px;
    color: #ddd8d8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

/* Styles pour le menu hamburger */
.hamburger-menu {
    display: none; /* Par défaut, le menu hamburger est caché */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    z-index: 1000;
}

.hamburger-menu li {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.hamburger-menu li:last-child {
    border-bottom: none;
}

.hamburger-menu li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

.hamburger-menu li a:hover {
    color: #45a049;
}

.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.feature {
    width: 300px;
    margin: 20px;
    text-align: center;
}

.feature img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#accueil {
    background-image: url('image/minecraft-art-1920-x-890-wallpaper-vmir0u72vqf205eo.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px;
    margin: 0;
}

#accueil h1 {
    font-size: 80px;
    font-weight: bold;
    color: #aaaaaa;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    font-family: 'MedievalSharp';
    font-size: 8em; 

}

#accueil p {
    font-size: 40px;
    margin-top: 30px;
    color: #ddd8d8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

/* Media Query pour les petits écrans */
@media screen and (max-width: 768px) {
    #accueil {
        padding: 50px; /* Réduire le rembourrage pour les petits écrans */
    }

    #accueil h1 {
        font-size: 40px; /* Réduire la taille de la police pour les petits écrans */
    }

    #accueil p {
        font-size: 20px; /* Réduire la taille de la police pour les petits écrans */
        margin-top: 20px; /* Réduire l'espacement en haut */
    }
}

.event {
    width: 45%;
    margin: 20px auto;
    padding: 20px;
    background-color: #4a3933; /* Brun terreux */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    margin-top: 70px;
}




.event:hover {
    transform: scale(1.05);
}

.event img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.event h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffd700; /* Or */
}

.event p {
    font-size: 16px;
    line-height: 1.6;
    color: #ccc; /* Gris clair */
    margin-top: 10px;
}

.event::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #8b4513; /* Brun terreux */
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

@media screen and (max-width: 768px) {
    /* Réduire la taille des boutons */
    .connexion-btn,
    .account-btn,
    .server-ip-btn {
        font-size: 14px;
    }

    /* Ajuster la largeur des éléments .feature */
    .feature {
        width: calc(100% - 20px); /* Pour laisser un espace de 10px à gauche et à droite */
        max-width: 100%; /* Utiliser la largeur maximale disponible */
    }

    /* Ajuster la taille du titre h1 dans la section #accueil */
    #accueil h1 {
        font-size: 30px;
    }

    /* Ajuster la taille des paragraphes dans la section #accueil */
    #accueil p {
        font-size: 16px;
    }

    /* Ajuster la largeur des éléments .event */
    .event {
        max-width: 100%; /* Utiliser la largeur maximale disponible */
    }
    .accueil {
        margin-right: 0;
    }
}

/* Media Query pour les petits écrans */
@media screen and (max-width: 768px) {
    .feature {
        width: calc(50% - 20px); /* Deux colonnes sur les petits écrans */
    }
}

/* Media Query pour les écrans très petits */
@media screen and (max-width: 480px) {
    .feature {
        width: calc(100% - 20px); /* Une colonne sur les écrans très petits */
    }
}




.upcoming-events h2 {
    text-align: center;
    font-size: 3.5em;
    color: #ffd700; /* Or */
}

.content h1 {
    color: #fff; /* Blanc */

}

.news {
    text-align: center;
    margin-top: 50px;
}

.news h3 {
    color: #ffd700; /* Or */
}

.news p {
    color: #ccc; /* Gris clair */
}

.news h2 {
    font-size: 24px;
    color: #ffd700; /* Or */
}

.news-item {
    margin-top: 30px;
}

.news-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px; /* Ajout d'un arrondi aux images */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Ajout d'une ombre */
}

.gallery {
    text-align: center;
    margin-top: 50px;
}

.gallery h2 {
    font-size: 24px;
    color: #ffd700; /* Or */
}

.gallery img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}


/* Redimensionner les images pour qu'elles s'adaptent au conteneur */
.carousel-inner img {
    width: 100%;
    height: 400px; /* Hauteur fixe pour toutes les images */
    object-fit: cover; /* Assure que l'image couvre toujours toute la zone sans déformation */

  }

/* Partie 2 */

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 25px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 30px;
    transition: background-color 0.3s ease-in-out;
    margin: 23px;  
}

.cta-button:hover {
    background-color: #45a049;
    text-decoration: none;
}

.account-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 20px;
    transition: background-color 0.3s ease-in-out;
}

.account-btn:hover {
    background-color: #8b4513; /* Brun terreux */
}

@media screen and (max-width: 250px) {
    .content h1 {
        font-size: 20px; /* Ajuster la taille de la police pour les petits écrans */
    }

    .content p {
        font-size: 14px; /* Ajuster la taille de la police pour les petits écrans */
    }

    .cta-button {
        font-size: 16px; /* Ajuster la taille de la police pour les petits écrans */
    }
}










.additional-content,
.server-list,
.testimonials,
.join-community {
    background-color: #4a3933; /* Brun terreux plus foncé */
    color: #fff; /* Texte blanc */
    padding: 60px 20px;
    text-align: center;
    text-decoration: none;
}

.additional-content h2,
.server-list h2,
.testimonials h2,
.join-community h2 {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    color: #ffd700; /* Or */
}

.additional-content p,
.join-community p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #ccc; /* Gris clair */
}

.additional-content .discord-button {
    display: inline-flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #8b4513; /* Brun terreux */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 30px;
    transition: background-color 0.3s ease-in-out;
}

.additional-content .discord-button:hover {
    background-color: #ffd700; /* Or */
}

.additional-content .discord-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}


.server-list ul {
    list-style: none;
    padding: 0;
    text-decoration: none;
}

.server-list li {
    font-size: 20px;
    margin-bottom: 10px;
}
    /* Styles responsives */

@media screen and (max-width: 768px) {
    .cta-button,
    .account-btn,
    .discord-button {
        font-size: 20px;
        padding: 12px 24px;
    }

    .news h2 {
        font-size: 20px;
    }

    .news p {
        font-size: 16px;
    }

    .gallery h2 {
        font-size: 20px;
    }

    .gallery img {
        margin-top: 10px;
    }

    .additional-content h2,
    .server-list h2,
    .testimonials h2,
    .join-community h2 {
        font-size: 20px;
    }

    .additional-content p,
    .join-community p {
        font-size: 16px;
        margin-bottom: 20px;
    }
}



/*---------- EVENEMENT CALENDIER */ 



/* Media Query pour les petits écrans */
@media screen and (max-width: 768px) {
    .news-item {
        width: calc(100% - 20px);
    }
}

.event-calendar {
    background-color: #f8f8f8;
    padding: 50px 0;
}

.event-calendar .container {
    text-align: center;
}

.event-calendar h2 {
    margin-bottom: 30px;
}

.event-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-content: center;
}

.event-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
}


.contact-section {
    padding: 50px 0;
    background-color: #f9f9f9;
    pointer-events: none; /* Rendre la section non cliquable */
    position: relative;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Empêcher les événements de pointer */
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}
.contact-section * {
    pointer-events: auto; /* Réactiver les clics pour les éléments enfants */
}


.contact-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.contact-section p {
    font-size: 16px;
    margin-bottom: 30px;
    text-align: center;
    user-select: none; /* Empêcher la sélection du texte */
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    height: 150px;
}


/* BoutonEnvoyer*/ 
.contact-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}

.contact-form button:focus {
    outline: none; /* Supprimer l'effet de focus */
}
@media screen and (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    .contact-section h2 {
        font-size: 20px;
    }

    .contact-section p {
        font-size: 14px;
    }

    .form-group input,
    .form-group textarea {
        font-size: 14px;
    }

    .form-group textarea {
        height: 100px;
    }
}











.fantasy-footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

.fantasy-footer .footer-content {
    position: relative;
    z-index: 1;
}

.fantasy-footer .footer-content p {
    margin-bottom: 10px;
}

.fantasy-footer:hover {
    background-color: #4CAF50;
}

.fantasy-footer:hover .footer-content {
    transform: translateY(-5px);
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.footer-links li {
    margin: 0 15px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer-links a:hover {
    color: #ffd700;
}

/* Media Query pour le rendu responsive */
@media screen and (max-width: 768px) {
    .testimonials {
        flex-direction: column;
        align-items: center;
    }

    .testimonial {
        width: 90%;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .footer-links li {
        margin: 10px 0;
    }
}


